<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item.produto.imgUrl || '../../assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <h2>{{item.produto.nome}}</h2>
      <p>{{item.produto.preco | currency}}</p>
      <ion-icon class="nolinebreak" name="remove-circle" color="primary" (click)="decreaseQuantity(item.produto)">
      </ion-icon>
      <p class="nolinebreak">{{item.quantidade}}</p>
      <ion-icon class="nolinebreak" name="add-circle" color="primary" (click)="increaseQuantity(item.produto)"></ion-icon>
      <ion-icon name="trash" item-end color="danger" (click)="removeItem(item.produto)"></ion-icon>
    </ion-item>

    <ion-item *ngIf="total() > 0">
      <h1>Total</h1>
      <h1 item-end>{{total()}}</h1>
    </ion-item>

    <ion-item *ngIf="total() <= 0">
      <h1>Seu carrinho está vazio</h1>
    </ion-item>

  </ion-list>

  <button ion-button block (click)="goOn()">Continuar comprando</button>
  <button *ngIf="total() > 0" ion-button color="secondary" block (click)="checkout()">Finalizar pedido</button>
</ion-content>