<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img [src]="profileImage" class="circle">
  </ion-avatar>
  <h2 text-center>{{ cliente?.nome }}</h2>
  <p text-center>{{ cliente?.email }}</p>

  <ion-card>
    <ion-card-header>
      Enviar imagem de perfil
    </ion-card-header>
    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
      <button *ngIf="picture" ion-button block outline (click)="sendPicture()" [disabled]="cameraOn">Enviar imagem</button>
      <button *ngIf="picture" ion-button block outline (click)="cancel()" [disabled]="cameraOn">Descartar imagem</button>
    </ion-item>
  </ion-card>
</ion-content>