<ion-content padding>
  <h3>Sistema de pedidos</h3>
  <h5 style="margin-top: 0px;">com Ionic</h5>

  <img src="../../assets/imgs/telainicial.png" alt="logo">

  <form>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input [(ngModel)]="credenciais.email" name="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input [(ngModel)]="credenciais.senha" name="senha" type="password"></ion-input>
    </ion-item>

    <button ion-button block (click)="login()">Entrar</button>
  </form>
  <button ion-button block outline (click)="signup()">Registrar</button>
</ion-content>
