page-home {

    h3 {
        text-align: center;
    }

    h5 {
        text-align: center;
    }

    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

}
