<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ProdutoDetail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge>
    <button navPush="CartPage" ion-fab mini>
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>

  <ion-card>
    <img [src]="item?.imgUrl || '../../assets/imgs/prod.jpg'">
    <ion-card-content>
      <ion-card-title>
        {{ item?.nome }}
      </ion-card-title>
      <p>{{ item?.preco | currency }}</p>
    </ion-card-content>
  </ion-card>

  <button ion-button block outline (click)="addToCart(item)">Adicionar ao carrinho</button>
</ion-content>